NODE_ENV=development
PORT=4000

SUPABASE_URL=https://vjcrocxyaqlfxxniysbq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqY3JvY3h5YXFsZnh4bml5c2JxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI5MjMxNiwiZXhwIjoyMDkwODY4MzE2fQ.qmnJz7CvbaSbe5xMPWT5oLn4kPtwkeD6KCijTMXb-IE

JWT_SECRET=Z6JcCz9OnHXs8VTFkKnF29sx9wkDnMEsxLMd232O4HxM/gD0kuf5iZrLVeDqrIMxflRlHrxfx6wT/OZWF5Fktw==
JWT_EXPIRES_IN=1h
SESSION_ABSOLUTE_HOURS=1

IDLE_TIMEOUT_VIEWER_MINUTES=20
IDLE_TIMEOUT_ANALYST_MINUTES=30
IDLE_TIMEOUT_ADMIN_MINUTES=60
